$gray-secondary: (
  white: hsl(0, 0%, 100%),
  black: hsl(0, 0%, 0%),
  gray: hsl(0, 0%, 48%),
  medium-gray: hsl(0, 0%, 84%),
  light-gray: hsl(30, 6%, 93%),
  hover-navbar: hsla(0, 0%, 100%, 0.2),
  description-nutrition: hsla(240, 0%, 48%, 1),
);

//! green

$green: (
  primary: hsl(153, 42%, 51%),
  secondary: hsl(153, 40%, 30%),
);

//! breakpoints

$breakpoints: (
  base: 0,
  xs: 376px,
  small: 576px,
  medium: 768px,
  large: 1024px,
  xl: 1280px,
  xxl: 1440px,
);
