$gray-secondary: (
  white: hsl(0, 0%, 100%),
  black: hsl(0, 0%, 0%),
  gray: hsl(0, 0%, 48%),
  bg-light-color: hsl(0, 0%, 99%),
);

$light-color: (
  //header-mobile -- app.scss
  background-color: hsl(220, 14%, 96%)
);

//! green

$green: (
  primary: hsl(153, 42%, 51%),
  secondary: hsl(153, 40%, 30%),
  green-light: hsl(0, 0%, 99%),
);

//! breakpoints

$breakpoints: (
  base: 0,
  xs: 376px,
  small: 576px,
  medium: 768px,
  large: 1024px,
  xl: 1280px,
  xxl: 1440px,
);
