@use "../../styles/variables.scss" as variables;

.chip {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 4px 24px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;

  @media only screen and (max-width: map-get(variables.$breakpoints, medium)) {
    padding: 2px 8px;
  }
}
