@use "./styles/variables.scss" as variables;

#root {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   min-height: 100vh;
// }

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  background-color: map-get($map: variables.$light-color, $key: background-color);
}

:global {
  .anticon .anticon-right .ant-collapse-arrow {
    color: white !important;
  }
}
